*{padding: 0px;margin: 0px;text-decoration: none;font-family: "微软雅黑";}
img{display: block;}
a:visited{color: black;}
a{color: black;}
.header ul li,.lanren ul li,.anli-success ul li{display: inline-block;float: left;list-style: none;}
a{color: inherit;}

.aniParentBox{min-width: 1200px;min-height: 900px; width: 100%; overflow: hidden; position: relative;}
.aniBox{ width: 100%;height: auto;
 /*overflow: hidden;*/ 
 position: relative; float: left}
.header{width: 1200px;height: 137px;margin: auto;margin-top: 39px;}
.nav{height: 89px;background: #0b7cbd;float: left;width: 1200px;margin-top: 20px;}
.nav ul li{line-height: 89px;width: 100px;margin-left: 20px;text-align: center;}
.nav ul span{display: block;margin-top: -20px;float: left;}

.nav ul li a,.nav1 ul li a {color: white;}
/*about页面*/
#bigBox{width: 100%;min-width: 1200px;min-height: 100px;position: relative;}
.about-banner{width: 100%;height: 528px;float: left;background: url(../img/about-banner.JPG) center no-repeat;}
.about-about{width: 100%;height: 717px;background: url(../img/about-about.JPG) center no-repeat;float: left;}
.about-box{width: 1200px;height: 620px;margin: auto;margin-top: 80px;text-align: center;}
h3{color: #0b7cbd;}
.about-main{margin-top: 50px;line-height: 65px;color: #616161;}

.about-jingyingmoshi{width: 100%;height: 1069px;float: left;}
.jingyingmoshi{width: 1200px;height: 330px; margin: auto;}
.jingyingmoshi img{margin: auto;float: left;margin-top: 50px;position: absolute;left: 0px;right: 0px;}
.jingyingmoshi1 img{margin: auto;float: left;margin-top: 50px;position: absolute;left: 0px;right: 0px;}
.jingyingmoshi1{width: 1200px;height: 430px;margin: auto;}
.yuanqufuwu{width: 100%;height: 308px;float: left;background: url(../img/about-shushushu.png) center no-repeat;}
.jingyingmoshi-box{width: 1100px;height: 150px;margin: auto;float: left;margin-top: 110px;text-align: center; position: absolute;left: 0px;right: 0px;}
.moshi1{float: left; width: 488px;height: 140px;border: 2px double #0b7cbd;border-radius: 4px;border-width:5px;line-height: 140px;}
.moshi2{float: right; width: 488px;height: 140px;border: 2px double #0b7cbd;border-radius: 4px;border-width:5px;line-height: 140px;}

/*.jingyingmoshi-box{width: 1100px;height: 430px;margin: auto;background: red;margin-top: ;}*/
.xx{width: 370px;height: 220px;margin-top: 150px;float: left;margin-left: 20px;}
.xx-title{width: 120px;height: 42px;background:url(../img/x.png) center no-repeat;text-align: center;line-height: 42px;color: white;margin: auto;}
.xx-main{width: 368px;height: 135px;border: 1px solid #0b7cbd;margin-top: 40px;color: #0b7cbd;}



.about-map{width: 100%;height: 655px;float: left;}
.footer{width: 100%;height: 270px;float: left;background: #0b7cbd;}
.footer-box{width: 1200px;height: 270px;margin: auto;}

.info{margin-top: 30px; float: left;margin-left: 60px;border-left: 1px solid #999;height: 170px;padding: 10px;font-size: 12px;color: white;}


.success-main{display: none;width: 342px;height: 107px;background: url(../img/qipaokuang.png) center no-repeat; margin-top: -250px;margin-left: 100px;position: absolute;z-index: 999;}
.ppppp{ width: 270px;height: 80px;margin-left: 70px;margin-top: 25px;overflow:hidden;text-overflow:ellipsis;font-size: 12px;color: #005c2d;}
.success-wz{width: 300px;height: 50px;margin: auto;text-align: center;margin-top: 30px;}













