html,body{overflow: hidden;}
*{padding: 0px;margin: 0px;text-decoration: none;font-family: "微软雅黑";}
img{display: block;}
a:visited{color: black;}
a{color: black;}
.header ul li,.lanren ul li,.anli-success ul li{display: inline-block;float: left;list-style: none;}
a{color: inherit;}

.aniParentBox{min-width: 1200px;min-height: 900px; width: 100%; overflow: hidden; position: relative;}
.aniBox{ width: 100%;height: auto;
 /*overflow: hidden;*/ 
 position: relative; float: left}
.header{width: 1200px;height: 137px;margin: auto;margin-top: 39px;}
.nav{height: 89px;background: #0b7cbd;float: left;width: 1200px;margin-top: 20px;}
.nav ul li{line-height: 89px;width: 100px;margin-left: 20px;text-align: center;}
.nav ul span{display: block;margin-top: -20px;float: left;}

.nav ul li a,.nav1 ul li a {color: white;}

.header1{width: 100%;height: 137px;float: left;background: white; margin-top: 30px;}
.nav1{width: 1200px;height: 89px;margin: auto;background: #0b7cbd;}
.nav1 ul li{float: left; line-height: 89px;width: 100px;margin-left: 20px;text-align: center;}
.nav1 ul span{display: block;margin-top: -20px;float: left;}

.logo{display: block; box-shadow: 5px 5px 5px black;margin-left: 20px;}

.aniContent{width: 1200px;height: 700px; position: absolute;top:50%;left:50%;margin: -400px 0px 0px -600px; z-index: 1;}
.bg1 .aniContent{ top: auto;bottom: 0px;margin: 0px 0px 0px -600px;}
.bg1 .House{background: url(../img/cloud1.png); width: 658px;height:289px; position: absolute;bottom: 90px; left: -400px;overflow: hidden;}
.bg1 .Ren{background: url(../img/cloud1.png); width: 658px;height: 289px;position: absolute; right:0px;opacity: 0;filter: alpha(opacity=0);top: 250px;}
.bg1 .Cloud{background: url(../img/Cloud.png);width: 841px;height: 178px;left: -500px;position: absolute;opacity: 0;filter: alpha(opacity=0);}
.bg1{background: url(../img/bg1.jpg) center no-repeat;}
/*.bg1 .txt1{ background: url(../img/adtext1.png);width: 168px;height: 190px;position: absolute;top:-15px;left: 232px;opacity: 0;filter: alpha(opacity=0);}
.bg1 .txt2{ background: url(../img/adtext2.png);width: 171px;height:159px;position: absolute;top:142px;left:203px;opacity: 0;filter: alpha(opacity=0);}
.bg1 .txt3{ background: url(../img/adtext3.png);width: 241px;height:41px;position: absolute;top:179px;left:-18px;opacity: 0;filter: alpha(opacity=0);}
.bg1 .txt4{ background: url(../img/adtext4.png);width: 211px;height:29px;position: absolute;top:178px;left:317px;opacity: 0;filter: alpha(opacity=0);}*/
.bg1 .t1{top:420px;left:-5px;}
.bg1 .t2{top:222px;left: 771px;}
.bg1 .t3 {top: 358px;left: 1100px;}

.tips{position: absolute; width: 40px;height: 40px; overflow: hidden; z-index: 4;cursor: pointer; background: url(../img/tipsbg.png) no-repeat center center;}
.tips .tcontent{height: 0px;width: 0px;overflow: hidden;display: block; margin: 6px; background: rgba(255,255,255,1);font-family: "宋体";font-size: 12px; color: #666666;line-height:20px;}
.tips .jtl{width: 15px;height: 15px;position: absolute;top: 0px;left: 0px; background: url(../img/border_4f.png) no-repeat 0px 0px;}
.tips .jtr{width: 15px;height: 15px;position: absolute;top: 0px;right: 0px; background: url(../img/border_4f.png) no-repeat -24px 0px;}
.tips .jbr{width: 15px;height: 15px;position: absolute;bottom: 0px;right: 0px; background: url(../img/border_4f.png) no-repeat -24px -23px;}
.tips .jbl{width: 15px;height: 15px;position: absolute;bottom: 0px;left: 0px; background: url(../img/border_4f.png) no-repeat 0px -23px;}

.about-main{width: 1200px;height: 610px;margin: auto;background: white;margin-top: -50px;}
/*动画效果*/
.lanren{ width:700px;margin-left: 150px;float: left;}
.lanren li{ width:294px; height:201px; overflow:hidden;margin-left: 30px;margin-top: 50px; cursor:pointer}
/*.lanren li:hover{border:2px solid #016C93;}*/
.lanren li img{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);-webkit-transition:all 2s ease;-moz-transition:all 2s ease;-o-transition:all 2s ease;transition:all 2s ease;}
.lanren li:hover img{-webkit-transform:scale(1.15);-moz-transform:scale(1.15);-o-transform:scale(1.15);transform:scale(1.15);-webkit-transition:all 2s ease;-moz-transition:all 2s ease;-o-transition:all 2s ease;transition:all 2s ease;}
.bg2{background: url(../img/2-bg.jpg)center no-repeat;}
.bg3{background: white;}
.diledulu-main{width: 100%;height: 680px;margin: auto;float: left;}
.diledulu-box{width: 1033px;height: 576px;margin: auto;background: #f7f7f7;box-shadow: 5px 5px 5px black;}
.diledulu-box img{float: left;margin-top: -30px;margin-left: -60px;}
.diledulu-box .about-wz{display: block;width: 890px;height: 400px;float: left;margin-left: 50px;margin-top: 30px;}
.diledulu-box p {margin-top: 30px;line-height: 50px;}

.bg-4-box{width: 100%;min-height: 900px;background: #fbf8e9;}
.bg-4{width: 100%;height: 129px; margin-top: -28px;background: url(../img/4-bg.png) center no-repeat;}
.bg-4 h3{float: left;margin-left: 100px;color: white;margin-top: 40px;}
.bg-4-tab-huan{width: 1100px;height: 460px;margin: auto;}

#tab{width: 1100px;height:460px;margin: auto;border: 1px solid #0b7cbd;}
/*.tab1{width:401px;border-top:#cccccc solid 1px;border-bottom:#cccccc solid 1px;}*/
.menu{height:28px;float: left;}
.menu li{width:167px;height:53px;text-align:center;line-height:53px;border-radius: 5px; cursor:pointer;color:white;font-size:14px;overflow:hidden;margin-top: 28px;margin-left: 40px; background: #0b7cbd;}
.menu li.off{color:white;font-weight:bold;}
.menudiv{height:200px;border-top:0;float: left;width: 770px;height: 367px;margin-top: 30px;margin-left: 50px;}
.menudiv div{padding:15px;line-height:28px;float: left;color: #0b7cbd;line-height: 50px;}

.bg5{width: 100%;min-height: 900px;background: #fbf8e9;}
.bg-5-box{width: 100%;min-height: 900px;background:url(../img/5-bg.jpg) center no-repeat;}
.anli-success{width: 1180px;height: 460px;margin: auto;}
.anli-success ul li{width: 300px;height: 190px;margin-left: 70px;margin-top: 40px;}
.success-wz{width: 300px;height: 50px;margin: auto;text-align: center;margin-top: 30px;}
.anli-success{width: 1180px;height: 460px;margin: auto;}
.anli-success ul li{width: 300px;height: 190px;margin-left: 70px;margin-top: 40px;}
.success-main{display: none;width: 342px;height: 107px;background: url(../img/qipaokuang.png) center no-repeat; margin-top: -250px;margin-left: 100px;position: absolute;z-index: 999;}
.ppppp{ width: 270px;height: 80px;margin-left: 70px;margin-top: 25px;overflow:hidden;text-overflow:ellipsis;font-size: 12px;color: #005c2d;}
.success-wz{width: 300px;height: 50px;margin: auto;text-align: center;margin-top: 30px;}

.bg6{width: 100%;min-height: 900px;background: #fbf8e9;}
.youshi-box{width: 1180px;height: 460px;margin: auto;}
.sprite{background: url(../img/6-sprite.png) center no-repeat;width: 210px;height: 206px;float: left;margin-left: 30px;}
.sprite p a{color: #0b7cbd;margin-left: 250px;float: left;width: 100px;margin-top: 40px;font-size: 14px}
.p1{background-position: 0px 0px;margin-top: 20px;margin-left: 60px;}
.p2{background-position: -271px 0px;margin-top: 200px;}
.p3{background-position: -614px 0px;margin-top: 20px;}
.p4{background-position: -906px 0px;margin-top: 200px;}

.bg7{width: 100%;min-height: 900px;
/*background: #0b7cbd;*/
float: left;}
/*.bg-map{width: 100%;height: 388px;float: left;}*/
.map{width: 100%;height: 388px;margin-top: 43px;float: left;}
.footer{width: 100%;height: 270px;float: left;background: #0b7cbd;}
.footer-box{width: 1200px;height: 270px;margin: auto;}

.info{margin-top: 30px; float: left;margin-left: 60px;border-left: 1px solid black;height: 170px;padding: 10px;font-size: 12px;color: white;}




















































































































