<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>419</title>
    <link rel="stylesheet" href="../public/css/public.css" />
    <link rel="stylesheet" href="../public/css/main.css" />
	<link rel="stylesheet" href="../public/css/swiper-3.3.1.min.css" />
	<script type="text/javascript" src="../public/js/jQuery v1.7.2.js"></script>
<script type="text/javascript" src="../public/js/swiper-3.3.1.jquery.min.js" ></script>
<script type="text/javascript" src="../public/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../public/js/jquery.rotate.min.js"></script>
<script type="text/javascript" src="../public/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="../public/js/Public.js"></script>
<script type="text/javascript" src="../public/js/loading.js"></script>
</head>

<body class="indexBody">
    <div class="aniParentBox swiper-container">
        <div class="aniBoxs swiper-wrapper">
        	
            <div class="aniBox bg1 swiper-slide">
            	<div class="header">
        			<div class="nav">
        				<ul>
        					<li><a href="##">网站首页</a></li>
        					<li><a href="##">关于我们</a></li>
        					<li><a href="##">自主产业</a></li>
        					<li><a href="##">解决方案</a></li>
        					<span class="logo"><img src="../public/img/logo.png"/></span>
        					<li style="margin-left: 30px;"><a href="##">成果应用</a></li>
        					<li><a href="##">新闻中心</a></li>
        					<li><a href="##">419优势</a></li>
        					<li><a href="##">联系419</a></li>
        				</ul>
        			</div>
        		</div>
                <div class="aniContent">
                    <div class="aniItem House"></div>
                    <div class="aniItem Ren"></div>
                    <div class="aniItem Cloud"></div>
                    <div class="aniItem txt1"></div>
                    <div class="aniItem txt2"></div>
                    <div class="aniItem txt3"></div>
                    <div class="aniItem txt4"></div>
                    <div class="tips t1">
                        <span class="tcontent"><a href='/'>1植物是生命的主要形态之一，包含了如树木、灌木、藤类、青草、蕨类、及绿藻、地衣等熟悉的生物。种子植物、苔藓植物、蕨类植物和拟蕨类等植物中，据估计现存大约有 350 000个物种。绿色植物大部分的能源是经由光合作用从太阳光中得到的，温度、湿度、光线是植物生存的基本需求。</a></span>
                        <div class="jtl"></div><div class="jtr"></div><div class="jbr"></div><div class="jbl"></div>
                    </div>
                    <div class="tips t2">
                        <span class="tcontent"><a href='/'>2植物是生命的主要形态之一，包含了如树木、灌木、藤类、青草、蕨类、及绿藻、地衣等熟悉的生物。种子植物、苔藓植物、蕨类植物和拟蕨类等植物中，据估计现存大约有 350 000个物种。绿色植物大部分的能源是经由光合作用从太阳光中得到的，温度、湿度、光线是植物生存的基本需求。</a></span>
                        <div class="jtl"></div><div class="jtr"></div><div class="jbr"></div><div class="jbl"></div>
                    </div>
                    <div class="tips t3">
                        <span class="tcontent"><a href='/'>3植物是生命的主要形态之一，包含了如树木、灌木、藤类、青草、蕨类、及绿藻、地衣等熟悉的生物。种子植物、苔藓植物、蕨类植物和拟蕨类等植物中，据估计现存大约有 350 000个物种。绿色植物大部分的能源是经由光合作用从太阳光中得到的，温度、湿度、光线是植物生存的基本需求。</a></span>
                        <div class="jtl"></div><div class="jtr"></div><div class="jbr"></div><div class="jbl"></div>
                    </div>
                </div>
            </div>
            
            <div class="swiper-slide bg2">
            	<div class="header">
        			<div class="nav">
        				<ul>
        					<li><a href="##">网站首页</a></li>
        					<li><a href="##">关于我们</a></li>
        					<li><a href="##">自主产业</a></li>
        					<li><a href="##">解决方案</a></li>
        					<span class="logo"><img src="../public/img/logo.png"/></span>
        					<li style="margin-left: 30px;"><a href="##">成果应用</a></li>
        					<li><a href="##">新闻中心</a></li>
        					<li><a href="##">419优势</a></li>
        					<li><a href="##">联系419</a></li>
        				</ul>
        			</div>
        		</div>
               	<div class="about-main">
               		<img style="float: left;margin-left: 30px; margin-top: 30px;" src="../public/img/about-wz.png"/>
               		<div class="lanren">
               			<ul>
               				<li><a href="##"><img src="../public/img/3-img.png"/> </a></li>
               				<li><a href="##"><img src="../public/img/3-img.png"/> </a></li>
               				<li><a href="##"><img src="../public/img/3-img.png"/> </a></li>
               				<li><a href="##"><img src="../public/img/3-img.png"/> </a></li>
               			</ul>
               		</div>
               	</div>
               	
            </div>
            <div class="swiper-slide bg3">
            	<div class="header">
        			<div class="nav">
        				<ul>
        					<li><a href="##">网站首页</a></li>
        					<li><a href="##">关于我们</a></li>
        					<li><a href="##">自主产业</a></li>
        					<li><a href="##">解决方案</a></li>
        					<span class="logo"><img src="../public/img/logo.png"/></span>
        					<li style="margin-left: 30px;"><a href="##">成果应用</a></li>
        					<li><a href="##">新闻中心</a></li>
        					<li><a href="##">419优势</a></li>
        					<li><a href="##">联系419</a></li>
        				</ul>
        			</div>
        		</div>
               	<div class="diledulu-main">
               		<div class="diledulu-box">
               			<img src="../public/img/4-diledulu.png"/>
               			<div class="about-wz">
               				<h3 style="text-align: center;">高端鲜食葡萄产业园</h3>
               				<p>从国际和国内市场来看，以高端水果为主的高品质农产品已经成为目前国内市场增长最快的品类，在消费者收入普遍提升、市场需求不断升级、口味日趋多元化和食品安全日益受到重视的大环境下，以进口水果为代表的高品质水果，在价格、利润率和需求量方面，与国产水果之间形成了断崖式的差距。而我国鲜食葡萄产量占世界鲜食葡萄总量的34.7%，世界排名第二，但仍然不能满足人们消费水平提高的要求，特别是有机与绿色葡萄果品，在市场上更是供不应求，因此，高品质的葡萄产业发展潜力很大。 
								419经过多年的市场沉淀，选定以生产顶级品质葡萄作为产品突破口，通过大量市场调研，在口味、颜色等各个方面对葡萄的品种选择、种植、品控进行了严格的标准化规范，将极致产品作为419发展区域农业产业集群的基础。
               				</p>
               		
               			</div>
               			
               		</div>	
               	</div>
               	
            </div>
            <div class="swiper-slide bg4">
				<div class="header" style="margin-top: 10px;">
        			<div class="nav">
        				<ul>
        					<li><a href="##">网站首页</a></li>
        					<li><a href="##">关于我们</a></li>
        					<li><a href="##">自主产业</a></li>
        					<li><a href="##">解决方案</a></li>
        					<span class="logo"><img src="../public/img/logo.png"/></span>
        					<li style="margin-left: 30px;"><a href="##">成果应用</a></li>
        					<li><a href="##">新闻中心</a></li>
        					<li><a href="##">419优势</a></li>
        					<li><a href="##">联系419</a></li>
        				</ul>
        			</div>
        		</div>
	        		<div class="bg-4-box">
	        			<div class="bg-4">
	        			<h3>解决方案</h3>
	        			</div>
	        		
	        		<div id="tab" >
					<div class="tab1" id="tab1">
						<div class="menu">
							<ul>
						   		<li id="one1" onclick="setTab('one',1)">区域农业提升</li>
						  		<li id="one2" onclick="setTab('one',2)">盈利型园区规划</li>
						  		<li id="one3" onclick="setTab('one',3)">科技生产型整体规划实施</li>
						 		<li id="one4" onclick="setTab('one',4)">农业园区托管运营</li>
						 		<li id="one5" onclick="setTab('one',5)">农业设施及生产系统</li>
							</ul>
						</div>
						<div class="menudiv">
							<div id="Ryan_one_1">      419农业在政策把握、产品研发、技术持有和商业运营等方面的优势，让419有能力为政府提供合理的区域农业解决方案，在政府引导下，借助金融和渠道的双杠杆，利用互联网平台、大数据应用等手段，整合各方资源，实现高度的产业化，促进地方经济增长，提高农民收入水平。 
						
						           419区域农业解决方案从宏观规划和产业实施两个维度入手，形成特有的“419模式” 。 
						
						【宏观规划】——通过互联网、大数据和金融等技术和手段，结合行业特征，配合政府精准把握三个“导向”。</div>
											<div id="Ryan_one_2" style="display:none;">      2 419农业在政策把握、产品研发、技术持有和商业运营等方面的优势，让419有能力为政府提供合理的区域农业解决方案，在政府引导下，借助金融和渠道的双杠杆，利用互联网平台、大数据应用等手段，整合各方资源，实现高度的产业化，促进地方经济增长，提高农民收入水平。 
						
						           419区域农业解决方案从宏观规划和产业实施两个维度入手，形成特有的“419模式” 。 
						
						【宏观规划】——通过互联网、大数据和金融等技术和手段，结合行业特征，配合政府精准把握三个“导向”。</div>
											<div id="Ryan_one_3" style="display:none;">     3 419农业在政策把握、产品研发、技术持有和商业运营等方面的优势，让419有能力为政府提供合理的区域农业解决方案，在政府引导下，借助金融和渠道的双杠杆，利用互联网平台、大数据应用等手段，整合各方资源，实现高度的产业化，促进地方经济增长，提高农民收入水平。 
						
						           419区域农业解决方案从宏观规划和产业实施两个维度入手，形成特有的“419模式” 。 
						
						【宏观规划】——通过互联网、大数据和金融等技术和手段，结合行业特征，配合政府精准把握三个“导向”。</div>
											<div id="Ryan_one_4" style="display:none;">     4 419农业在政策把握、产品研发、技术持有和商业运营等方面的优势，让419有能力为政府提供合理的区域农业解决方案，在政府引导下，借助金融和渠道的双杠杆，利用互联网平台、大数据应用等手段，整合各方资源，实现高度的产业化，促进地方经济增长，提高农民收入水平。 
						
						           419区域农业解决方案从宏观规划和产业实施两个维度入手，形成特有的“419模式” 。 
						
						【宏观规划】——通过互联网、大数据和金融等技术和手段，结合行业特征，配合政府精准把握三个“导向”。</div>
											<div id="Ryan_one_5" style="display:none;">      5 419农业在政策把握、产品研发、技术持有和商业运营等方面的优势，让419有能力为政府提供合理的区域农业解决方案，在政府引导下，借助金融和渠道的双杠杆，利用互联网平台、大数据应用等手段，整合各方资源，实现高度的产业化，促进地方经济增长，提高农民收入水平。 
						
						           419区域农业解决方案从宏观规划和产业实施两个维度入手，形成特有的“419模式” 。 
						
						【宏观规划】——通过互联网、大数据和金融等技术和手段，结合行业特征，配合政府精准把握三个“导向”。</div>
						</div>
					</div>
					<div style="text-align:center;clear:both;"></div>
				</div>
				</div>
            </div>
       		<div class="swiper-slide bg5">
       			<div class="bg-5-box">
       			<div class="header" style="margin-top: 10px;">
        			<div class="nav">
        				<ul>
        					<li><a href="##">网站首页</a></li>
        					<li><a href="##">关于我们</a></li>
        					<li><a href="##">自主产业</a></li>
        					<li><a href="##">解决方案</a></li>
        					<span class="logo"><img src="../public/img/logo.png"/></span>
        					<li style="margin-left: 30px;"><a href="##">成果应用</a></li>
        					<li><a href="##">新闻中心</a></li>
        					<li><a href="##">419优势</a></li>
        					<li><a href="##">联系419</a></li>
        				</ul>
        			</div>
        		</div>
        		<div class="success-wz">
        			<h3 style="color: #0b7cbd; margin: auto;">成功案例</h3>
        		</div>
				<div class="anli-success">
					<ul style="margin-top: 40px;">
						<li class="zxc">
							<a href="##"><img class="img-block" src="../public/img/5-img.png"/></a>
							<div class="success-main">
								<div class="ppppp">
									419区域农业解决方案从宏观规划和产业实施两个维度入手，形成特有的“419模式” 。 【宏观规划】——通过互联网、大数据和金融等技术和手段，结合行业特征，配合政府精准把握三个“导向”。

								</div>
							</div>
						</li>
						<li class="zxc">
							<a href="##"><img class="img-block" src="../public/img/5-img.png"/></a>
							<div class="success-main">
								<div class="ppppp">
									419区域农业解决方案从宏观规划和产业实施两个维度入手，形成特有的“419模式” 。 【宏观规划】——通过互联网、大数据和金融等技术和手段，结合行业特征，配合政府精准把握三个“导向”。

								</div>
							</div>
						</li>
						<li class="zxc">
							<a href="##"><img class="img-block" src="../public/img/5-img.png"/></a>
							<div class="success-main">
								<div class="ppppp">
									419区域农业解决方案从宏观规划和产业实施两个维度入手，形成特有的“419模式” 。 【宏观规划】——通过互联网、大数据和金融等技术和手段，结合行业特征，配合政府精准把握三个“导向”。

								</div>
							</div>
						</li>
						<li class="zxc">
							<a href="##"><img class="img-block" src="../public/img/5-img.png"/></a>
							<div class="success-main">
								<div class="ppppp">
									419区域农业解决方案从宏观规划和产业实施两个维度入手，形成特有的“419模式” 。 【宏观规划】——通过互联网、大数据和金融等技术和手段，结合行业特征，配合政府精准把握三个“导向”。

								</div>
							</div>
						</li>
						<li class="zxc">
							<a href="##"><img class="img-block" src="../public/img/5-img.png"/></a>
							<div class="success-main">
								<div class="ppppp">
									419区域农业解决方案从宏观规划和产业实施两个维度入手，形成特有的“419模式” 。 【宏观规划】——通过互联网、大数据和金融等技术和手段，结合行业特征，配合政府精准把握三个“导向”。

								</div>
							</div>
						</li>
						<li class="zxc">
							<a href="##"><img class="img-block" src="../public/img/5-img.png"/></a>
							<div class="success-main">
								<div class="ppppp">
									419区域农业解决方案从宏观规划和产业实施两个维度入手，形成特有的“419模式” 。 【宏观规划】——通过互联网、大数据和金融等技术和手段，结合行业特征，配合政府精准把握三个“导向”。

								</div>
							</div>
						</li>
						<li class="zxc">
							<a href="##"><img class="img-block" src="../public/img/5-img.png"/></a>
							<div class="success-main">
								<div class="ppppp">
									419区域农业解决方案从宏观规划和产业实施两个维度入手，形成特有的“419模式” 。 【宏观规划】——通过互联网、大数据和金融等技术和手段，结合行业特征，配合政府精准把握三个“导向”。

								</div>
							</div>
						</li>
					</ul>
				</div>
					
				</div>
       		</div>
       		<div class="swiper-slide bg6">
       			<div class="header" style="margin-top: 10px;">
        			<div class="nav">
        				<ul>
        					<li><a href="##">网站首页</a></li>
        					<li><a href="##">关于我们</a></li>
        					<li><a href="##">自主产业</a></li>
        					<li><a href="##">解决方案</a></li>
        					<span class="logo"><img src="../public/img/logo.png"/></span>
        					<li style="margin-left: 30px;"><a href="##">成果应用</a></li>
        					<li><a href="##">新闻中心</a></li>
        					<li><a href="##">419优势</a></li>
        					<li><a href="##">联系419</a></li>
        				</ul>
        			</div>
        		</div>
        		<div class="success-wz">
        			<h3 style="color: #0b7cbd; margin: auto;">419优势</h3>
        		</div>
        		<div class="youshi-box">
        			<div class="sprite p1">
        				<p><a href="##">1.专家团队</a></p>
        			</div>
        			<div class="sprite p2">
        				<p><a href="##">2.专利成果</a></p>
        			</div>
        			<div class="sprite p3">
        				<p><a href="##">3.质量保障</a></p>
        			</div>
        			<div class="sprite p4">
        				<p><a href="##">4.加工生产</a></p>
        			</div>
        			
        		</div>
       		</div>
       		<div class="swiper-slide bg7">
       			<div class="header1">
        			<div class="nav1">
        				<ul>
        					<li><a href="##">网站首页</a></li>
        					<li><a href="##">关于我们</a></li>
        					<li><a href="##">自主产业</a></li>
        					<li><a href="##">解决方案</a></li>
        					<span class="logo"><img src="../public/img/logo.png"/></span>
        					<li style="margin-left: 30px;"><a href="##">成果应用</a></li>
        					<li><a href="##">新闻中心</a></li>
        					<li><a href="##">419优势</a></li>
        					<li><a href="##">联系419</a></li>
        				</ul>
        			</div>
        		</div>
        		<div class="bg-map">
	        		<div class="map">
			        	<!--百度地图容器-->
			 			 <div style="width:100%;height:388px;border:#ccc solid 1px;" id="dituContents"></div>
			             <!--地图js--> 
			            	<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
							<script type="text/javascript">
			               
			                 (function () {
                                // 百度地图API功能
                                var map = new BMap.Map("dituContents");
                                var point = new BMap.Point(115.467339,40.326534);
                                map.centerAndZoom(point, 15);
//								map.enableScrollWheelZoom();   //启用滚轮放大缩小，默认禁用
//								map.enableContinuousZoom();    //启用地图惯性拖拽，默认禁用
								var marker = new BMap.Marker(point);  // 创建标注
                                map.addOverlay(marker);               // 将标注添加到地图中
								var opts = {
								    width : 200,     // 信息窗口宽度
								    height: 50,     // 信息窗口高度
								    title : "{{site_infos.data.title}}" , // 信息窗口标题
								    enableMessage:true,//设置允许信息窗发送短息
								    message:"欢迎访问{{site_infos.data.title}}！！"
								}
									var infoWindow = new BMap.InfoWindow("地址：address}}", opts);  // 创建信息窗口对象 
									marker.addEventListener("click", function(){          
										map.openInfoWindow(infoWindow,point); //开启信息窗口
									});
									
									marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画画	
                           		 })()
			             
			                </script>
		      			</div>
        		</div>
        		<div class="footer">
        			<div class="footer-box">
        				<img style="display: block;float: left;margin-top: 50px; margin-left: 350px;" src="../public/img/footer-logo.png"/>
        				<div class="info">
        					<p style="margin-top: 10px;">地址：<span>address&nbsp;</span></p>
	          				<p>Email：<span><a href="##" target="_blank">mail</a></span></p>
	          				<p>电话：<span>telephone</span></p>
	          				<p>传真：<span>010-1142048</span></p>
	          				<p>邮箱：<span>419@.man</span></p>
	          				<p>官网：<span>www.d419.www</span></p>
	          				<p>企业QQ：<span>798798798123</span></p>
        				</div>
        				
        			</div>
        		</div>
       		</div>
		    
        </div>
       		  <!-- 如果需要分页器 -->
        
        <!--<div class="swiper-pagination"></div>-->
		    
		    <!-- 如果需要导航按钮 -->
		    <!--<div class="swiper-button-prev"></div>
		    <div class="swiper-button-next"></div>-->
		    
		    <!-- 如果需要滚动条 -->
		    <!--<div class="swiper-scrollbar"></div>-->
    </div>

</body>
<!--  ==========  -->
<!--  = 公共js模块 =  -->
<!--  ==========  -->

   <script>        
    $(".zxc").hover(function(e){
        $(this).children(".success-main").show()
    },function(){
        $(this).children(".success-main").hide()
    });
  var mySwiper = new Swiper ('.swiper-container', {
//  direction: 'vertical',
//  loop: true,
//  speed:15000,
    // 如果需要分页器
//  pagination: '.swiper-pagination',
    
//  // 如果需要前进后退按钮
//  nextButton: '.swiper-button-next',
//  prevButton: '.swiper-button-prev',
    mousewheelControl : true,
    // 如果需要滚动条
//  scrollbar: '.swiper-scrollbar',

  })        
  
  	$('.swiper-slide').css("height","900px")
//tab切换
			function setTab(name,cursel){
					var links = document.getElementById("tab1").getElementsByTagName('li')
					links_len=links.length;
					cursel_0=cursel;
					for(var i=1; i<=links_len; i++){
					var menu = document.getElementById(name+i);
					var menudiv = document.getElementById("Ryan_"+name+"_"+i);
					if(i==cursel){
						menu.className="off";
						menudiv.style.display="block";
					}
					else{
						menu.className="";
						menudiv.style.display="none";
						}
					}
				}
  </script>



</html>
