header .top .container .caidan .memu:hover{
 color:#ff9a00;
}
header .top .e-map a:hover {
  color: #ff9a00;
}
header .header .tel i {
  color: #ff9a00;
}
header .nav {
  background: #ff9a00;
}
header .nav ul li div > a:hover {
     color: #ff9a00;
}
.home_product .homeproduct .home_product_nr .text1 a:hover {
  color: #ff9a00;
}
.home_product .homeproduct1 .home_product_nr .text1 a {
  color: #ff9a00;
}
.home_news .homenews .h_news .slick-dots li.slick-active button {
  background: #ff9a00;
}
.home_news .homenews .right ul li:hover a {
  color: #ff9a00;
}
.home_service .left .text1 .more:hover {
  background: #ff9a00;
}
.home_case .homecase .home_case_nr:hover .text1 a {
  color: #ff9a00;
}
.home_case .homecase .slick-dots li.slick-active button {
  background: #ff9a00;
}
.home_case .homecase1 .home_case_nr:hover .text1 a {
  color: #ff9a00;
}
.home_case .homecase1 .slick-dots li.slick-active button {
  background: #ff9a00;
}
footer ul li > a:hover {
  color: #ff9a00;
}
aside .navigation1 ul span {
  background:#ff9a00 url("../images/ico.png");
    background-repeat:no-repeat;
  background-position: 86% 52%;
}
aside .navigation1 ul li div > a:hover {
  color: #ff9a00;
}
aside .navigation1 ul li:hover > a {
  color: #ff9a00;
}
aside .navigation1 ul li .active {
  color: #ff9a00;
}
aside .navigation2 ul span {
  background:#ff9a00 url("../images/ico.png");
    background-repeat:no-repeat;
  background-position: 86% 52%;
}
aside .navigation2 ul li:hover:before {
  background: #ff9a00;
}
aside .navigation2 ul li:hover a {
  color: #ff9a00;
}
aside .navigation2 ul li .active {
  color: #ff9a00;
}
aside .navigation2 ul li .active:before {
  background: #ff9a00;
}
aside .left_contact .box i {
  color: #ff9a00;
}
aside .left_contact .box .left_message {
  background: #ff9a00;
}
.ny_right .titlez big {
  color: #ff9a00;
}
.organization .title1 {
  color: #ff9a00;
}
.news .news_main li:hover .txt span a {
  color: #ff9a00;
}
.news .news_main li:hover time {
  background: #ff9a00;
}
.page .page-cur {
  background: #ff9a00;
}
.page a:hover {
  background: #ff9a00;
  border: 1px solid #ff9a00;
}
.page .active {
  background: #ff9a00;
  border: 1px solid #ff9a00;
}
.article li:hover a {
  color: #ff9a00;
}
.related_news .related li:hover a {
  color: #ff9a00;
}
.momplaint .box1 li .qing {
  color: #ff9a00;
}
.momplaint .box1 li .btn {
  background: #ff9a00;
}
.case .case_main li:hover p a {
  color: #ff9a00;
}
.case_showmain .home_case_nr:hover .text1 a {
  color: #ff9a00;
}
.case_showmain1 .home_case_nr:hover .text1 a {
  color: #ff9a00;
}
.job .part2 a {
  color: #ff9a00;
}
.contact .cont p a {
  color: #ff9a00;
}
.feedback .box1 li .qing {
  color: #ff9a00;
}
.feedback .box1 li .btn {
  background: #ff9a00;
}
.products .products_main li:hover p {
  background: #ff9a00;
}
.products_show .ps_tab dl .one {
  background: #ff9a00;
}
.products_show .ps_tab .content .psnr big {
  color: #ff9a00;
}
.products_show .ps_tab .content .box1 li .qing {
  color: #ff9a00;
}
.products_show .ps_tab .content .box1 li .btn {
  background: #ff9a00;
}
.products_show .pro_showmain .home_case_nr:hover .text1 a {
  color: #ff9a00;
}
.products_show .pro_showmain1 .home_case_nr:hover .text1 a {
  color: #ff9a00;
}
.products_show .pro_phnoe .slick-dots li.slick-active button {
  background: #ff9a00;
}
.crumbs h2 span {
  color: #ff9a00;
}
.crumbs h2 a:hover {
  color: #ff9a00;
}
.map dt {
  background: #ff9a00;
}
.success .success_box .btn {
  background: #ff9a00;
}
a:hover, a:active, a:focus{
	color: #ff9a00;
}

.crumbs h2 i {
  color: #ff9a00;
  font-style: normal;
}
.map dd div a:hover {
  background: #ff9a00;
}
footer .copy {
  background: #ff9a00;
}
header .header .tel i {
  color: #ff9a00;
}
aside .left_contact span {
  background:#ff9a00 url("../images/ico.png");
  background-repeat:no-repeat;
  background-position: 86% 52%;
}
aside .left_contact .box i a{
  color: #ff9a00;
}
header .top .en .cn{
  color: #ff9a00;
}
header .header .tel i a{
	color: #ff9a00;
}
header .header .tel {
  background: url("../images/tel.png") no-repeat left top 0;
}
.home_service .right .txt .phnoe big a{
	color: #ff9a00;
}
.home_service .left .text1 {
  border: 4px solid #ff9a00;
}
.home_service .left .text1 .more {
  background: #ff9a00;
}
.map dd .p2 a {
  color: #ff9a00;
}
.map dd .p2 a:hover {
  color: #ff9a00; 
}
.banner .slick-dots li.slick-active button {
  background: #ff9a00;
  border: 1px solid #ff9a00;
}
.home_about .home_about_nr .left .text1:before {
  background: #ff9a00;
}
.home_product {
  background: url("../images/home_product.jpg") no-repeat top center #FF9A00;
}
.home_service {
  background: url("../images/home_service.jpg") no-repeat top center #f4f4f4;
}
.home_product .homeproduct .slick-prev {
  background: url("../images/prev.png") no-repeat;
}
.home_product .homeproduct .slick-next {
  background: url("../images/next.png") no-repeat;
}