@charset "utf-8";
/* 代码整理：懒人之家 www.lanrenzhijia.com */
/*对应颜色替换
橙色｛显示：#feb65b 经过：#f3941c｝默认
绿色｛显示：#b1d85c 经过：#8fcd09｝
蓝色｛显示：#84c0f2 经过：#439de8｝
灰色｛显示：#bfbdbd 经过：#989494｝
红色｛显示：#f58384 经过：#eb6162｝
黑色｛显示：#323d45 经过：#27333b｝
亮蓝｛显示：#457ce6 经过：#316ee4｝
亮红｛显示：#ff0c8a 经过：#e60077｝
浅蓝｛显示：#8cbcd1 经过：#5fa2bf｝
*/
.fn-suspend { position: fixed; right: 0; bottom: 50px;z-index: 99999; margin-right: 20px\0; }

/*假设网页宽度为1200px，导航条在右侧悬浮*/



.suspend-item:hover .suspend-layer { opacity: 1; filter: alpha(opacity=100); transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1);}
.suspend-item-weixin { background-position: 0 -798px; }
.suspend-item-weixin:hover { background-position: 0 -860px; }

.suspend-item-weixin .suspend-layer img{display: block;}
.suspend-item-feedback { background-position: 0 -426px; }
.suspend-item-feedback a{width: 100%;height: 100%;display: block;}
.suspend-item-feedback:hover { background-position: 0 -488px; }
.suspend-item-app { background-position: 0 -550px; }
.suspend-item-app:hover { background-position: 0 -612px; }
.suspend-item-top { background-position: 0 -674px;cursor: pointer; }
.suspend-item-top:hover { background-position: 0 -736px; }
.suspend-layer { position: absolute; right: -173px; bottom: 0px; width: 140px; opacity: 0; filter: alpha(opacity=0);}

.service-QQ {position: absolute; list-style: none; color: #666; width: 173px; bottom: 0px;background-color:#fff;}
.service-QQ li { border-bottom: 1px solid #ddd; padding: 8px 0 8px 15px; font-size:14px;}
.service-QQ a { text-decoration: none; color: #666; }
.service-QQ li:last-child { border-bottom: none; }
.service-QQ li img { vertical-align: middle; }

.fn-suspend.floatqq_left .service-QQ { left:-173px; transition:left 0.3s; opacity:0; filter:alpha(opacity=0);}
.fn-suspend.floatqq_left .show_qq{ opacity:1; left:52px;filter:alpha(opacity=100);}

.fn-suspend.floatqq_right .service-QQ{ left:52px; transition:left 0.3s; opacity:0; filter:alpha(opacity=0);}
.fn-suspend.floatqq_right .show_qq{opacity:1; left:-173px;filter:alpha(opacity=100);}

.fn-suspend.floatqq_left .suspend-item-weixin .suspend-layer{ left:-140px;}
.fn-suspend.floatqq_left .suspend-item-weixin .suspend-layer.show_qq{left:52px; transition:left 0.3s;}
.fn-suspend.floatqq_right .suspend-item-weixin .suspend-layer.show_qq{left:-140px; transition:left 0.3s;}

.fn-suspend.floatqq_left .suspend-layer { left: 52px; -moz-transform-origin: 0 95%; -ms-transform-origin: 0 95%; -o-transform-origin: 0 95%; -webkit-transform-origin: 0 95%; transform-origin: 0 95%; }

@media (max-width: 767px) {
  .fn-suspend{display:none;}
}
/*分页当在首页上时鼠标不可点击*/
.page-disabled{
	cursor:auto;
}

