/* 模板模块样式风格 */

.richContent {
    line-height: 1.8;
    padding: 0;
    white-space: normal;
    word-wrap: break-word;
    word-break: normal;
    overflow: hidden;
    width: 100%;
    text-align: left
}

.richContent table {
    clear: both;
    border-collapse: collapse;
    word-break: break-all
}

.richContent table td {
    padding: 0 10px
}

/* 默认 */
.textImg0 {
    display: none
}

/* 上图文下 */
.textImg1 {
    float: none;
    width: 100%;
    display: block;
    position: relative
}
.textImg1 img {
    margin: 0 auto;
    display: block
}
/*左图右文*/
.textImg2 {
    float: left;
    margin: 5px 10px 5px 5px;
    position: relative
}
.richContent2 {
    width: auto;
    _float: left
}
/*左包围*/
.textImg3 {
    float: left;
    margin: 5px 10px 5px 5px;
    position: relative
}

.richContent3 {
    width: auto;
    overflow: visible
}

.richContent3 img {
    vertical-align: middle
}

/*右文左图*/
.textImg4 {
  float: right;
  margin: 5px;
  position: relative;
}
.richContent4 {
    width: auto;
    _float: left
}
/*右包围*/
.textImg5 {
  float: right;
  margin: 5px;
  position: relative;
}
.richContent5 {
    width: auto;
    overflow: visible
}

.richContent5 img {
    vertical-align: middle
}

/*文上图下*/
.textImg6 {
  float: none;
  width: 100%;
  display: block;
  position: relative;
}

.textImg6 img {
    margin: 0 auto;
    display: block;
}


.g_topFlage{
    width: 20px;
    height: 20px;
    margin: 0 0 0 -20px;
    padding: 0;
    float: left;
    position: absolute;
}

.g_topFlage1{
      background: url(../images/top1.gif) no-repeat 0 -36px;
}
.g_topFlage2{
      background: url(../images/top2.gif) no-repeat 0 -37px;
}
.g_topFlage3{
      background: url(../images/top3.gif) no-repeat 0 -36px;
}
.g_topFlage4{
      background: url(../images/top4.gif) no-repeat 0 4px;
}
.g_topFlage5{
      background: url(../images/top5.gif) no-repeat 0 2px;
}

.topflagStyle {
    display: inline-block;
    height: 16px;
    width: 16px;
    zoom: 1;
}

.topflagStyle1{
      background: url(../images/top1.gif) no-repeat 0 -38px;
}
.topflagStyle2{
      background: url(../images/top2.gif) no-repeat 0 -38px;
}
.topflagStyle3{
      background: url(../images/top3.gif) no-repeat 0 -38px;
}
.topflagStyle4{
      background: url(../images/top4.gif) no-repeat 0 2px;
}
.topflagStyle5{
      background: url(../images/top5.gif) no-repeat 0 0px;
}

.imageEffects{
      background:url(../images/imageeffetc.png) center no-repeat;
}

.replace .opa_eff{
  position:absolute;
}

.replace .opa_eff .props {
    width: 100%;
    height: auto;
    text-align: center;
}

.replace .opa_eff .props .propList {
    width: 85%;
    height: auto;
    overflow: hidden;
    margin: 0 auto 5px auto;
    color: #fff;
}

.replace .opa_eff .props .propList .photoDisc {
    width: 100%;
    font-size: 12px;
    color: #fff;
    text-align: left;
    word-wrap: break-word;
}

.replace .imgeff {
    background: url(../images/maks.png) repeat;
}

.replace .time_date {
    background: #c4c4c4;
    height: 109px;
    width: 80px;
    text-align: center;
    float: left;
}

.replace .time_date p {
    overflow: hidden;
    height: 70px;
    font-size: 40px;
    color: #fff;
}

.replace .time_date p b {
    display: block;
    line-height: 69px;
    display: block;
}

.replace .time_date em {
    overflow: hidden;
    display: block;
    height: 27px;
    margin-top: -10px;
    line-height: 27px;
    color: #fff;
}

.replace .art_txt {
    width: 630px;
    float: left;
    height: 87px;
    overflow: hidden;
    padding-left: 30px;
    border: 1px solid #CFCFCF;
    padding-top: 20px;
}

.replace .art_txt a {
    display: block;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    padding-right: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.replace .arttxt_wz {
    padding-right: 10px;
    height: 40px;
    font-size: 12px;
    overflow: hidden;
    line-height: 20px;
    margin-top: 6px;
}

..replace  li:hover .art_txt a {
    color: #0857b0;
}

.replace .lineline{
    height: auto;
    padding-left: 0!important;
    position: relative;
    padding: 3px 5px;
    margin: 0;
    overflow: hidden;
}

.replace .lineline .newsCalendar {
    display: inline-block;
    text-align: left;
    width: auto;
    line-height: 28px;
    height: 23px;
    float:left;
}

.replace .lineline .newsCalendar a {
    font-size: 18px;
    font-family: arial;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

.replace .lineline .lineBody {
    display: inline-block;
    width: calc(100% - 105px);
    table-layout: fixed;
    height: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.replace .lineline .newsCircleOuter {
    position: relative;
    display: inline-block;
    margin: 5px 15px 0;
    width: 18px;
    height: 18px;
    background: #f4f4f4;
    border-radius: 50%;
    vertical-align: top;
    z-index: 1;
}

.replace .lineline .newsCircle {
    position: absolute;
    width: 12px;
    height: 12px;
    background: #bababa;
    border-radius: 50%;
    left: 3px;
    top: 3px;
    z-index: 2;
}

.replace .lineline .lineBody .newsTitlePanel {
    display: inline-block;
    width: calc(100% - 65px);
}

.replace .lineline .newsTitle {
    height: 23px;
    line-height: 23px;
}

.replace .lineline .newsTitle a {
    font-size: 18px;
    color: #1a1a1a;
    line-height: 24px;
    width: calc(100% - 26px);
    vertical-align: bottom;
    display: inline-block;
    text-decoration: none;
    height: 23px;
    outline: 0;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.replace .lineline .pic-mix {
    margin-top: 4px;
    font-size: 14px;
    line-height: 24px;
    color: #808080;
    margin-bottom: 6px;
    padding: 4px 0 0 0;
}

.replace .lineline .newsTitle a:hover{
   color: #0857b0;
}

.replace .lineline .newsTitle {
    line-height: 23px;
    cursor: pointer;
}

.replace .lineline .newsTitle .mixNewsStyleTitle {
    font-size: 18px;
    width: 90%;
    font-weight: normal;
    word-break: normal;
}
.replace .lineline .newsTitle a{
    color: #1a1a1a;
    font-family: "微软雅黑";
    line-height: 24px;
    vertical-align: bottom;
    display: inline-block;
    text-decoration: none;
    height: 23px;
    outline: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.replace .lineline .mixSummary {
    font-size: 14px;
    line-height: 24px;
    color: #808080;
    margin-bottom: 6px;
    text-align: justify;
    word-break: break-all;
}

.replace .bg {
    background: #fff;
}

.replace li .jzmg {
    width: 232px;
    height: 145px;
    text-align: center;
    display: block;
}

.replace li .jzmg img {
    max-height: 145px;
    max-width: 232px;
    vertical-align: middle;
}

.replace a.name {
    display: inline-block;
    width: 192px;
    padding-bottom: 4px;
    margin: 0 20px 4px;
    border-bottom: 1px solid #d6d6d6;
    font-weight: bold;
    font-size: 14px;
    line-height: 32px;
    color: #333;
    transition: all 500ms ease-in 0ms;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.replace p {
    padding: 0 20px;
    font: bold 16px/44px "微软雅黑";
    color: #333;
}

.replace p > span {
    font-size: 30px;
    font-family: Arial;
    color: #c00725;
}

.replace a.more {
    display: inline-block;
    width: 91px;
    margin: 11px 0 17px 20px;
    background: url(../images/bg_btn02.png) repeat;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    float:left;
}

.replace8 .product-s-list {
    width: 100%;
    margin: 0 auto 3%;
}
.replace8 .clearfix {
    clear: both;
}

.replace8 .product-s-list figure {
    width: 30.8%;
    float: left;
    height: 157px;
    border: 5px solid #dfdfdf;
}

.replace8 .product-s-list figure a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.replace8 .product-s-list figure a img {
    max-height: 100%;
    max-width: 100%;
}
.replace8 .vcenter {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.replace8 .product-s-list .pic-s-right {
    width: 67%;
    float: right;
    height: 156px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding-top: 1.5%;
}

.replace8 .product-s-list .pic-s-right .pro-name {
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.replace8 .product-s-list .pic-s-right p {
    color: #4a4a4a;
    font-size: 14px;
    overflow: hidden;
}
.replace8 p {
    margin-bottom: 2%;
    line-height: 20px;
    padding: 0 20px;
    font: bold 16px/44px "微软雅黑";
}

.replace8 .product-s-list .pic-s-right p span {
    font-weight: bold;
}
.replace8 span {
    font-size: 12px!important;
    color: #666!important;
    margin-bottom: 1%!important;
}

.replace8 .product-s-list .pic-s-right .pro-int {
    height: 60px;
}

.replace8 .product-s-list .pic-s-right .pro-more-btn {
    float: right;
    display: block;
    padding: 1% 2%;
    position: absolute;
    text-align: center;
    background: #d8d8d8;
    color: #fff;
    right: 0;
    bottom: 0;
}

.replace8 .product-s-list:hover figure {
    border: 5px solid #f8b6b8;
}

.replace8 .product-s-list:hover .pic-s-right .pro-more-btn {
    background: #f8b6b8;
}

.replace8 .product-s-list:hover .pic-s-right {
  border-bottom: 1px solid #f8b6b8;
}

.replace9 li {
    float: left;
    width: 235px;
    margin: 0 19px 19px 0;
}

.replace9 li .probox {
    width: 235px;
    height: 265px;
    cursor: pointer;
    position: relative;
    display: block;
}

.replace9 li .probox .imgbg {
    position: absolute;
    left: 0;
    top: 0;
    width: 235px;
    height: 185px;
    display: none;
}

.replace9 li .probox .lxmimg {
    display: block;
    width: 235px;
    height: 185px;
    text-align: center;
}

.replace9 .lxmimg img {
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
}

.replace9 .lxmimg i {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
}

.replace9 li .probox .protext {
    display: block;
    text-align: center;
    background: #f3f3f3;
    min-height: 80px;
    padding: 0 15px;
}

.replace9 li .probox .protext p {
    color: #333;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #d2d2d2;
}

.replace9 li .probox .protext em {
    font-style: normal;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 15px;
    line-height: 18px;
    margin-top: 10px;
    font-family: arial;
}

.replace9 li:hover .probox .protext {
    background: #FD5A49;
}

.replace9 li:hover .probox .protext em {
    color: #fff;
    border: 2px solid #fff;
}

.replace9 li:hover .probox .protext p {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.replace9 li:hover .sale_pri{
  color:#fff;
}

.replace9 li:hover .probox .imgbg {
    display: block;
}