.admin-main{
	margin: 1px;
}
.admin-main .layui-field-title .layui-field-box{
	padding: 10px 30px;
}
.admin-main .layui-field-title .layui-field-box p{
	padding: 5px 0;
}

开始
*{margin:0;
 padding:0;
 list-style:none;}  
 
 .wrap{
 height:300px;
 width:800px;
 margin:10px auto;
 overflow: hidden;
 position: relative;
 margin:10px auto;}
 .wrap ul{position:absolute;} 
 .wrap ul li{height:170px;}
 .wrap ol{
	position: absolute;
	right: 1px;
	bottom: 5px;
}
 
 .wrap ol li{
 height:20px; width: 20px;
 background:#ccc;
 border:solid 1px #666;
 margin-left:5px;
 color:#000;
 float:left;
 line-height:center;
 text-align:center;
 cursor:pointer;}
 
 .wrap ol .on{
 background:#E97305;
 color:#fff;}
结束


html{
	background:#ffffff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding:1vw;
}
.clearfix:before,
.clearfix:after{
  content:" ";
  display: table;
}

.clearfix:after{
  clear:both;
}

h1{
  color:white;
  margin:30px auto;
  width:50%;
  text-align:center;
  padding:20px;
  text-transform:uppercase;
  font-size:3vw;
  letter-spacing:5px;
  border-top:1px solid;
  border-bottom:1px solid;
}

#contentBox{
  width:90%;
  margin:0 auto;
}

.buttonBox{
  position:relative;
  float:left;
  margin:3.5vw 0 0 3.5vw;
  width:15%;
}


button{
	width: 100%;
	height: 80px;
	position: relative;
	background: #333;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	letter-spacing: 1px;
	border: none;
	font-size: 15px;
	outline: none;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


/* FIRST BUTTON */

.border{
    position:absolute;
    background:none;
    transition:all .5s ease-in-out;
}

#first>.border:nth-of-type(1){
  top:0;
  left:0;
  border-left:3px solid #009688;
  border-top:3px solid #009688;
  width:15px;
  height:15px;
}

#first>.border:nth-of-type(2){
  bottom:0;
  right:0;
  border-right:3px solid #009688;
  border-bottom:3px solid #009688;
  width:15px;
  height:15px;
}

#first:hover .border{
  width:102%;
  height:105%;
}
